/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  padding: 2%;
}
.app_header{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-height: 200px;
  width: 100%;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.logo{
width: 125px;
height: 125px;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.nav_item{
  display: flex;
  flex-grow: 1;
  height: 100%;
  background: #FC4F1E;
  opacity:0.8;
  font-weight: bold;
  color: #0B31EF;
  align-items: center;
  justify-content: space-around;
}
/*this is the h1 on each page*/
.page_header{
  display: flex;
  flex-grow: 1;
  font-weight: bold;
  justify-content: center;
  background: white;
  opacity: 0.6;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h2{
  display: flex;
  padding: 20px;
  flex-grow: 1;
  font-weight: bold;
  justify-content: center;
  background: white;
  opacity: 0.6;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.session_form{
  display: flex;
  justify-content: center;
}
.form{
  background: white;
  opacity: 0.8;
  padding: 20px;
}
.field{
  padding: 10px;
}
.actions{
  padding: 10px;
}







