/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
.app_header{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  max-height: 200px;
  width: 100%;
  padding: 20px;
  justify-content: flex-start;
}
.logo{
width: 12%;
height: 12%;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-grow: 1;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.nav_item{
  display: flex;
  padding: 20px;
  background: #FC4F1E;
  opacity:0.8;
  font-weight: bold;
  color: #0B31EF;
}










